.jumbotron {
  background-color: #83e6f3;
  padding-top: 6rem;
}

#projects {
  background-color: #83e6f3;
}

section {
  padding-top: 5rem;
}

html {
  scroll-behavior: smooth;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
